<div id="addframe">
    <h3>Payroll Generator</h3>
  
    <table id="table" class="responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Pay Range</th>
          <th>Pay this period</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Faizan</td>
          <td>Accounting</td>
          <td>$0.87</td>
          <td>
            <p>
              <label>
                <input type="checkbox" />
                <span></span>
              </label>
            </p>
          </td>
        </tr>
        <tr>
          <td>Binh</td>
          <td>Catering</td>
          <td>$0.87</td>
          <td>
            <p>
              <label>
                <input type="checkbox" />
                <span></span>
              </label>
            </p>
          </td>
        </tr>
        <tr>
          <td>Meda</td>
          <td>Veterinary</td>
          <td>$0.87</td>
          <td>
            <p>
              <label>
                <input type="checkbox" />
                <span></span>
              </label>
            </p>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>
  <a class="waves-effect waves-light btn">button</a>