<div id="addframe">
  <h3>Add a new employee</h3>
<div id="formframe">
  <form class="col s12">
    <div class="input-field col s12">
      <input id="firstName" type="text" class="validate">
      <label for="firstName">First Name</label>
    </div>
    <div class="input-field col s12">
      <input id="lastName" type="text" class="validate">
      <label for="lastName">Last Name</label>
    </div>
    <div class="input-field col s12">
      <!-- add jquery for pop up date picker -->
      <input id="dob" type="text" class="datepicker">
      <label for="dob">Birthday</label>
    </div>
    <div class="input-field col s12">
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input id="password" type="password" class="validate">
      <label for="password">Temporary Password</label>
    </div>
    <div class="input-field col s12">
      <input id="lastName" type="text" class="validate">
      <label for="lastName">Department</label>
    </div>
  </form>
</div>

</div>



