<div class="container">
  <div class="row">
    <h3>PayRoll App</h3>
    <form class="col s12">
            <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" [pattern]="emailPattern">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <!-- #password="ngModel" [(ngModel)]="user.Password" -->
          <label for="password">Password</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn">button</a>
    </form>
  </div>
  <a [routerLink]="['/employee']">Go To Employee</a>
  <a [routerLink]="['/admin/list']">Go To Admin</a>

</div>