<div id="addframe">
  <h3>List of Employees</h3>

  <table id="table" class="responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Pay Range</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Faizan</td>
        <td>Accounting</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Binh</td>
        <td>Catering</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Meda</td>
        <td>Veterinary</td>
        <td>$0.87</td>
      </tr>

    </tbody>
  </table>
  <a [routerLink]="['/admin/add']" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
<p>